# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

# Git
.git

# Credential
*.aes
*.env
google-auth.json

# Binaries
*.jpg
*.png
*.gif

# Test
coverage.txt
profile.out

# Vendor
vendor
